.birdImage{
    border-style: none;
    display: flex;
    width: 210px;
    height: 185px;
    border-radius: 10px;
}

.container{
    display: flex;
    padding: 1rem;
}

.container .rightContent{
    margin-left: 40px;
}




.h1Style {
    font-family:  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    height: 50px;
    color: white;
}



