.birdImage{
    border-style: none;
    display: flex;
    width: 210px;
    height: 185px;
    border-radius: 10px;
}

.container{
    display: flex;
    padding: 1rem;
}

.container .rightContent{
    margin-left: 40px;
}

.audioLine {
    justify-content: center;
    border-radius: 20px;
    height: 5px;
    display: flex;
    align-items: center;
    width: 600px;
    background-color: rgb(119, 115, 115)  ;
  }


.playerContainer{
    width: 1000px;
    height: 90px;
    display: flex;
    align-items: center;
    border-top-color: rgb(119, 115, 115) ;
    border-top-width: 2px;
    border-top-style: solid;
}

.playbackButton {
    transition: 0.2s;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(105, 240, 174);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

.playbackButton svg {
    transition: 0.2s;
    width: 18px;
    height: 18px;
    color: #54b1c1;
}

.playbackButton:hover svg {
    width: 18px;
    height: 18px;
    color: #00bc8c;
    transform: scale(1.03);
}

.h1Style {
    font-family:  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    
    height: 50px;
    color: white;
}






input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  
  input[type=range]:focus {
    outline: none;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #4aa9de;
    border-radius: 5px;
    border: 0px solid #000000;
  }
  
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 0px solid #000000;
    height: 13px;
    width: 4px;
    border-radius: 50px;
    background: #2a6586;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #4aa9de;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #4aa9de;
    border-radius: 5px;
    border: 0px solid #000000;
  }
  
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 0px solid #000000;
    height: 13px;
    width: 4px;
    border-radius: 50px;
    background: #2a6586;
    cursor: pointer;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  
  input[type=range]::-ms-fill-lower {
    background: #4aa9de;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
  }
  
  input[type=range]::-ms-fill-upper {
    background: #4aa9de;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
  }
  
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 0px solid #000000;
    height: 13px;
    width: 4px;
    border-radius: 50px;
    background: #2a6586;
    cursor: pointer;
  }
  
  input[type=range]:focus::-ms-fill-lower {
    background: #4aa9de;
  }
  
  input[type=range]:focus::-ms-fill-upper {
    background: #4aa9de;
  }
  
  .plsoptions {
    justify-self: flex-end;
  }